# Better Auth
# Generate with: openssl rand -base64 32
BETTER_AUTH_SECRET=6uvVjQ5I9jTIDuCuve9Lf3qwF23Nhz96YpbQ1i6WN4M=

# Base URL of your app (required for Google OAuth redirect_uri)
BETTER_AUTH_URL=http://localhost:3000

# Postgres
DATABASE_URL=postgres://user:password@localhost:5432/runconnect

# Google OAuth
# Authorized redirect URI (local): http://localhost:3000/api/auth/callback/google
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
